body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body > #root {
    display: grid;
    grid-template-rows: 3.4em 17.5em 20em;
}

.timerIcon {
    height: 1.5em;
    width: 1.5em;
    align-self: center;
    margin-left: 0.5em;
}

.navBarText {
    grid-column-start: 2;
    font-size: 1.5em;
    align-self: center;
    justify-self: center;
}

.navBar {
    display: grid;
    grid-template-columns: 40em 15em;
    background-color: greenyellow;
    height: 3.5em;
}

.totalTime {
    justify-self: center;
    color: rgb(84, 89, 94);
    margin-top: 1em;
    font-size: 1.5em;
}

.activeTimer {
    color: rgb(42, 135, 228);
    box-shadow: inset 0 -3px 0 0 rgb(42, 135, 228);
}

.timerFormRow {
    display: grid;
    grid-template-columns: 25em 1fr 1fr 25em;
    
}

.timerFormContainer1, .timerFormContainer2 {
    display: grid;
    justify-items: center;
    align-items: center;
    margin-top: 1.75em;
}

.timerForm > form {
    padding: 1em;
    box-shadow: 0 0 0.5px 0.5px grey;
    margin-top: 0.75em;
}

.timerFormContainer1 {
    grid-column-start: 2;
}

.timerFormContainer2 {
    grid-column-start: 3;
}

.main {
    display: grid;
    grid-template-rows: 3em 10em 6em;
}

.timerHeader {
    justify-self: center;
    display: grid;
    grid-template-columns: repeat(8,1fr);
}

.timerHeading {
    color: rgb(84, 89, 94);
    font-size: 1.6em;
    align-self: flex-end;
    justify-self: center;
    margin-left: 2.25em;
    grid-column-start: 4;
    padding: 0;
}

.timerContainer {
    justify-self: center;
    font-size:8em;
    font-weight: bold;
}

.timerButtonsContainer {
    align-self: center;
    justify-self: center;
}

.startButton {
    background-color: green;
    margin: 0.5em;
    box-shadow: 0.2em;
    border-radius: 0.5em;
    width: 7.5em;
}

.resetButton {
    background-color: red;
    margin: 0.5em;
    box-shadow: 0.2em;
    border-radius: 0.5em;
    width: 7.5em;
}

.toggleTimerButton {
    justify-self: center;
    align-self: flex-end;
    padding-top: 0;
    height: 1.6em;
    width: 10em;
    font-size: 0.75em;
    margin-bottom: 0.5em;
    margin-left: 0.5em;
}